@model BlogPlatform.Models.Post
@{
    ViewBag.Title = "Post Details - " + Model.Title;
}

<h1>Post Details</h1>
<hr />
@*<h4> Post ID: @Model.Id</h4>*@
<h4>Post Name: @Model.Title | @Model.PublishDate</h4>
<h4>Post Guest: @Model.Author</h4>
<iframe width="460" height="215" src="@Model.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
@*<img src="@Model.Image" alt="Photo of @Model.Name" style="width:300px" />*@
<hr />
<h4>COMMENTS</h4>
@foreach (var Comment in Model.Comments)
{
    <p>@Comment.Content</p>
    <p>- @Comment.Name</p>
}
@if (Model.Comments.Count == 0)
{
    <p>No comments for this post yet!</p>
}

<a href="/Comment/Create/@Model.Id"><button>Add Comment</button></a>
<